* {
    margin: 0;
    padding: 0;
}

.header__background {
    max-height: 205px;
    background: #FFE898;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 38px;
}

.user {
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 10px;
}

.user__naming {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user__naming_overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px
}

.user__avatar_size{
    width: 76px;
    height: 76px;
    background: #FFFFFF;
    border-radius: 90px;
}

.main__display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 61px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 0 50px 0;
}

.assortiment {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 60%;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 220px;
    max-height: 525px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 18px 0 18px;
}

.card__img {
    width: 215px;
    height: 215px;
}

.card__title {
    margin-top: 12px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.card__subtitle {
    margin-top: 8px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #626262;
}

.card__prices {
    display: flex;
}

.card__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.card__price {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ED2061;
}

.card__last-price {
    padding-left: 10px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: line-through;
    color: #626262;
}

.card__buy {
    width: 90px;
    height: 44px;
    text-align: center;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    background: #FFE898;
    border-radius: 90px;
}

.card__buy:hover {
    background-color: rgba(255, 255, 255, 100);
    color: #ED2061;
    border: 3px solid #ED2061;
}

.footer__background {
    padding: 0 37px 0 37px;
    margin-top: 100px;
    height: 100px;
    background: #FFE898;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyrite {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}