* {
    margin: 0;
    padding: 0;
}

.body__center {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.main-form {
    max-width: 408px;
    max-height: 600px;
    background: rgba(255, 232, 152, 0.5);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.subtitle {
    text-align: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}

.form-register {
    display: flex;
    flex-direction: column;
    margin: 0px 19px 0px 19px;
}

.input__size {
    width: 370px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-left: 8px;
}

.labels {
    margin: 15px 0px 5px 8px;
    text-align: left;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ED2061;
}

.submit {
    margin: 25px 0px 25px 0px;
    margin-left: 25%;
    box-sizing: border-box;
    width: 205px;
    height: 50px;
    border: 3px solid #000000;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit:hover {
    background-color: rgba(255, 255, 255, 100);
    color: #ED2061;
    border: 0px;    
}