{% extends "base-form.html.twig" %}
{% block head %}
    {% block stylesheets  %}
        {{ parent() }}
    {% endblock %}
    <title>Login</title>
{% endblock %}
{% block content %}
    <h2 class="subtitle-form">Вход</h2>
    <form class="form-register" enctype="multipart/form-data" action="/user/login" method="POST">
        <p class="labels">Пароль</p>
        <input class="input__size" type="password" name="password" required/>
        <p id="email" class="labels">Email</p>
        <input class="input__size" type="text" name="email" required/>
        <div class="block__submit">
            <button class="submit">
                <a href="/">
                    Регистрация
                </a>
            </button>
            <input class="submit" type="submit" value="Войти">
        </div>
    </form>
{% endblock %}  